* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

.container {
    margin: 0 auto;
    padding-right: 96px;
    padding-left: 96px;
    max-width: 1240px;
    width: 100%;

}

.flex {
    display: flex;
    align-items: center;
}

.site-header {


    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--black-2, #1F1F1F);
    background: var(--body-black, #131313);
}

.site-header__container {

    justify-content: space-between;
    padding-top: 8px;

}

.logo {
    margin-right: 48px;
}

.site-header__btn-text {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.site-header__btn-text-blok {
    margin-right: 16px;
    padding: 8px;

}

.site-header__custom--user {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin: right 24px;
    padding-top: 8px;
    align-items: center;
  
}

.svg-style {
    width: 24;
    height: 25;
    fill: none;
}

.site-header__icon {
    padding-top: 8px;
    color: #FFF;
    width: 24;
    height: 24px;
    display: flex;
    border: none;
}

.site-header__lenguage {
    color: #FFF;
    display: flex;
    height: 40px;
    padding: 0px 4px 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--plain-white, #FFF);


    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    padding: 8px;
    margin-left: 14px;
    border-radius: 2px;
    background: var(--black-2, #1F1F1F);
}

.site-header__user-icon {
    color: #FFF;
    display: flex;
    height: 40px;
    padding: 0px 4px 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--plain-white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    padding: 8px;
    margin-left: 14px;
    background: var(--black-2, #1F1F1F);
}



/* MAIN */


.mein-container__body{
   width: 100%;
    flex-wrap: wrap;
    padding-top: 126px;
    padding-bottom: 86px;
    background: var(--body-black, #131313);
    padding: top 32px;
}
.mein-container__body-section{
width: 100%;
display: flex;
justify-content: space-between;

}
.body-section{
    position: relative
 
}

.mein-container__body-img{
    position:calc(50% 50px)(50% 50px);
   


}
.site-section__menyu-card-list h2 {

    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    padding-top: 32px;
    padding-bottom: 32px;
}

.gold {
    color: var(--breadly-brown, #A78B6B);
    font-size: 48px;
    font-weight: 600;
}

.button-scip {
color: #FFF;
background-color: #181818;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    border: 1px solid var(--breadly-brown, #A78B6B);

}

.mein-container__img{
    
    display: inline-block;
    width: 50%;
}
.img1 {
    width: 474px;
    height: 474px;
    box-shadow: 33px 4px 48px 0px rgba(0, 0, 0, 0.35);
}
.img2 {
    position: relative;
    top:-100px;
    z-index: -1;
    
}

.site-slider li {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    padding-top: 32px;


}

.site-slider__img-1 {
    margin-left: auto;
    width: 39.996px;
    height: 39.996px;
    opacity: 0.4000000059604645;
}

.site-slider__img-2 {
    width: 72px;
    height: 72px;

}



/* COMPONENT */



.site-component__component a {
    text-decoration: none;
    display: flex;
    padding: 16px 12px;
    width: 150px;
    border: none;
   list-style: none;
    color: antiquewhite;
    justify-content: space-between;
    border: 1px solid var(--black-2, #1F1F1F);
    background: #131313;
}
.component__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: -75px;
    margin-bottom: -75px;
    padding: 0;
    list-style: none;
}

.site-component__component-items .active a {
    border-bottom: 4px solid var(--breadly-brown, #A78B6B);
    color: #A78B6B;
}



/* MENYU CARD  */

.site-section__menyu-card {
    display: flex;
    padding-top: 48px;
    align-items: flex-start;
    gap: 32px;
    background-color: #131313;

}

.site-section__menyu-card-list{

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: -75px;
    margin-bottom: -75px;
    padding: 0;
    list-style: none;

}
.site-section__menyu-cards {

    display: flex;
    margin-left: 24px;

}

.site-section__menyu-card h1 {

    color: var(--plain-white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;


}

.site-section__menyu-img {

    display: flex;
    width: 294px;
    height: 294px;
    padding-bottom: 10px;
    padding-top: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    margin-top: 8px;
}



.site-section__menyu-card-items {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 32px;


}

.texst-bold {
    color: var(--plain-white, #FFF);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
}

.texst-summ {
    color: var(--breadly-brown, #A78B6B);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.texst-ingredients {
    padding-top: 16px;
    width: 262px;
    color: var(--black-4, #999797);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

}

.texst-ingredients ul li {
    text-decoration: none;
    list-style: none;
}

.site-section__menyu-btn {
    display: flex;
    margin-left: 24px;
    height: 40px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 2px;
    background: var(--black-2, #1F1F1F);
    color: var(--breadly-brown, #A78B6B);

}

/* FOOTER */


.line {

    height: 1px;
    align-self: stretch;
    background: var(--black-4, #3F3F3F);
}

.site-footer__box {
    display: flex;
    justify-content: space-between;
    padding: 48px 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    background: var(--black-15, #181818);

}

.site-footer__icon {
    width: 88px;
    height: 48.583px;

}

.site-footer__information ul a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    width: 150px;
   list-style: none;
    color: antiquewhite;
    border: 1px solid var(--black-2, #1F1F1F);
    background: #131313;

}

.line {}
.site-footer__bottom-text{

}

.site-footer__social-icons {
    display: inline-block;
  
}